.encabezados{
    background-color: $fondo-primario;
    font-size: 20px;
    .navItems{
        display: flex; 
        justify-content: flex-end;
        align-items: flex-end;
        .nav-link:hover{
            color: #3866f2;
        }
    }
}